// ----------Colors & Fonts----------
//     gillSans
//     ptSerifReg
//     ptSerifItal
//     ptSerifBold
//     ptSerifBoldItal

    // rgba(255, 209, 64, 1)
    // rgba(84, 13, 110, 1)
    // rgba(238, 67, 103, 1)
    // rgba(59, 206, 171, 1)
    // rgba(8, 173, 105, 1)
// ----------------------------------

.eventsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .bumper {
        width: 100%;
        height: 100px;
    }

    .eventsContent {
        width: 980px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .eventsHero {
            width: 980px;
            height: 400px;
            margin-top: 50px;
            position: relative;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #foodFestEvent {
            background-image: linear-gradient(to right rgba(255, 209, 64, .75), rgba(255, 209, 64, .75)), url(../images/foodFestival.png);
        }

        #deeJayEvent {
            background-image: linear-gradient(to right rgba(238, 67, 103, .75), rgba(238, 67, 103, .75)), url(../images/dee-jay.jpeg);
        }

        #speechEvent {
            background-image: linear-gradient(to right rgba(8, 173, 105, .75), rgba(8, 173, 105, .75)), url(../images/speech.jpg);
        }

        #openFoodEvent {
            background-image: linear-gradient(to right rgba(84, 13, 110, .75), rgba(84, 13, 110, .75)), url(../images/openFoodfest.jpg);
        }

        #internationalEvent {
            background-image: linear-gradient(to right rgba(59, 206, 171, .75), rgba(59, 206, 171, .75)), url(../images/international.png)
        }

        .eventsHeader {
            height: 275px;
            font-family: gillSans;
            font-size: 65px;
            position: absolute;
            bottom: 0;
            text-shadow: 2px 2px black;

            span {
                padding-left: 20px;
                letter-spacing: 20px;
                font-size: 300px;
            }
        }

        #yellow {
            color: rgba(255, 209, 64, 1);
        }

        #pink {
            color: rgba(238, 67, 103, 1);
        }

        #green {
            color: rgba(8, 173, 105, 1);
        }

        #purple {
            color: rgba(84, 13, 110, 1);
            font-size: 62px;

            span {
                padding-left: 0px;
            }
        }

        #teal {
            color: rgba(59, 206, 171, 1);
            font-size: 60px;
            padding-left: 0px;
        }

        .eventsTextBox {
            width: 980px;
            height: 133px;
            margin-top: 50px;
            margin-bottom: 73px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .leftText {
                width: 490px;
                height: 133px;
                font-family: gillSans;
                font-weight: lighter;
                font-style: italic;
            }

            .rightText {
                width: 450px;
                height: 133px;
                font-family: gillSans;
                font-weight: lighter;
                font-style: italic;
            }
        }
    }
}    